{% extends '::gen_base.html.twig' %}
{% block title %}Cierres {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedores' : 'Aupanas / HC'}}{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    #proveedores-form .form-control-feedback {
    right: 14px;
    top: 22px;
  }

  i[data-fv-icon-for="loro_entitybundle_ventascierres[tipoMonedaCierre]"],
  i[data-fv-icon-for="loro_entitybundle_ventascierres[proveedorCierre]"] {
    right: 44px !important;
  }

  #ui-datepicker-div {
    z-index: 100 !important;
  }
  </style>
{% endblock stylesheets %}

{% block body -%}

<!-- LLamado del twig con los flash del sistema -->
{% include '::VariosSistema/mensajes_flash.html.twig' %}

  <div class="page-header">
    <h1>Cierre - {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedor' : 'Aupanas / HC'}} <small>Editar</small></h1>
  </div>
  <div class="clearfix"></div>


<div class="row">
  <div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
    {{ form_start(edit_form , { 'attr': {'autocomplete': 'off'} }) }}

    <div class="form-group">
        <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.feVenta) }}
          {{ form_widget(edit_form.feVenta) }}
          {{ form_errors(edit_form.feVenta) }}
        </div>

        <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.tipoMonedaCierre) }}
          {{ form_widget(edit_form.tipoMonedaCierre) }}
          {{ form_errors(edit_form.tipoMonedaCierre) }}
        </div>
    </div>

      {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
        <div class="form-group">
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.proveedorCierre) }}
          {{ form_widget(edit_form.proveedorCierre) }}
          {{ form_errors(edit_form.proveedorCierre) }}  
          </div>
        </div>
      {% endif %}

      {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
        <div class="form-group">
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.dolarReferenciaDia) }}
          {{ form_widget(edit_form.dolarReferenciaDia) }}
          {{ form_errors(edit_form.dolarReferenciaDia) }}
          </div>
        </div>
      {% endif %}
      
      <div class="form-group">
        <div class="col-xs-9 col-md-9">
        {{ form_label(edit_form.cantidadTotalVenta) }}
        {{ form_widget(edit_form.cantidadTotalVenta) }}
        {{ form_errors(edit_form.cantidadTotalVenta) }} 
        </div>
      </div>

      {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
        <div class="form-group">      
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.montoBsCierrePorGramo) }}
          {{ form_widget(edit_form.montoBsCierrePorGramo) }}
          {{ form_errors(edit_form.montoBsCierrePorGramo) }}
          </div>
        </div>
      {% endif %}

      <div class="form-group">
        <div class="col-xs-9 col-md-9">
        {{ form_label(edit_form.valorOnza) }}
        {{ form_widget(edit_form.valorOnza) }}
        {{ form_errors(edit_form.valorOnza) }}  
          <br>
        </div>
      </div>
     

      {% if app.request.attributes.get('_route_params')['lugar']  == 'hc' %}
        <div class="form-group">
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.montoTotalDolar) }}
          {{ form_widget(edit_form.montoTotalDolar, { 'attr': { 'readonly': 'true' } }) }}
          {{ form_errors(edit_form.montoTotalDolar) }}  
          </div>
        </div>
      {% endif %}

   

      <div class="form-group">
        <div class="col-sm-offset-7 col-sm-3 col-xs-offset-5 col-xs-3 col-md-offset-8 col-md-3">
          {{ form_widget(edit_form.submit) }}
        </div>
      </div>

        
      
  </div>
</div>

{{ form_rest(edit_form) }}
{{ form_end(edit_form) }}
<div class="clearfix"></div>
{% endblock body %}

{% block javascripts %}
  <script>
  var _globales = {
    autoCompleteSupplierInputData: {
      inputName: 'venta-cierre-proveedor',
    },
    formId: 'proveedores-form',
    inputId: "#loro_entitybundle_ventascierres_proveedorCierre",
    inputBaseName: "{{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'loro_entitybundle_ventascierres_' : 'loro_entitybundle_cierres_hc_'}}",
    arrayOptDatePic: {changeMonth: false, changeYear: false, buttonImageOnly: false, dateFormat: 'dd-mm-yy' },
    margenGanancia: {{ ganancia.tipoMargen }},
    onzaTroyGramos: {{ onzaTroyGramos.valorParametro }},
    place: '{{ app.request.attributes.get('_route_params')['lugar'] }}'
  };
  </script>
  
  {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
    {% javascripts  'assets/self/js/closedDeals/new_supplier_closed_deal_validation.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% else %}
    {% javascripts  'assets/self/js/closedDeals/new_hc_closed_deal_validation.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}

  {% javascripts  'assets/self/js/closedDeals/edit_forms_misc_functions.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
  $(function(){

    if (_globales.place == 'proveedores') {
      $("#loro_entitybundle_ventascierres_proveedorCierre").combobox();
      $("#loro_entitybundle_ventascierres_tipoMonedaCierre").combobox();
    } else {
      $("#loro_entitybundle_cierres_hc_tipoMonedaCierre").combobox();
    }


  });
  </script>
{% endblock %}