{% extends '::base.html.twig' %}
{% block title %}Cierres {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedores' : 'Aupanas / HC'}}{% endblock %}
{% block body -%}

<!-- LLamado del twig con los flash del sistema -->
{% include '::VariosSistema/mensajes_flash.html.twig' %}



<div class="col-md-12 col-xs-12" style="margin-top:20px;">
  <div class="page-header">
    <h1>Listado de Cierres {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedores' : 'Aupanas / HC'}}</h1>
  </div>
  
  <div class="col-md-11" style="padding:0 0 3em 0; margin-left: -5px;">
    <a href="{{ path(('ventas_cierres_' ~ (app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'proveedores' : 'hc') ~ '_new')) }}" style="float:right;" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
  </div>    
            
  <div class="col-lg-offset-1 col-lg-10">
    <table id="listado-cierres" class="display" >
      <thead>
        <tr >
          <th style="text-align:center;">ID</th>
          <th style="text-align:center;">Fecha de Cierre</th>
          <th style="text-align:center;">Peso Total</th>
          <th style="text-align:center;">Valor de la Onza</th>
          {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
          <th style="text-align:center;">Pagado por Gramo</th>
          {% endif %}
          <th style="text-align:center;">Cierre realizado en</th>
          {% if app.request.attributes.get('_route_params')['lugar']  == 'hc' %}
          <th style="text-align:center;">Monto Total</th> 
          {% endif %}
          {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
          <th style="text-align:center;">Monto Total</th>
          <th style="text-align:center;">Proveedor</th>
          {% endif %}
          <th style="text-align:center;">Acciones</th>
        </tr>
      </thead>
      
      <tbody class="data-tabla">
        {% for entity in entities %}
        <tr>
          <td style="text-align:center;">{{ entity.id }}</td>
          <td style="text-align:center;">{% if entity.feVenta %}{{ entity.feVenta|date('Y-m-d') }}{% endif %}</td>
          <td style="text-align:center;">{{ entity.cantidadTotalVenta  | number_format(2,',','.')}} Grs</td>
          <td style="text-align:center;">{{ entity.valorOnza | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }} x Oz</td>
          {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
          <th style="text-align:center;">{{ entity.montoBsCierrePorGramo | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }} / Grs</th>
          {% endif %}
          <td style="text-align:center;">{{ entity.tipoMonedaCierre.nbMoneda }}</td>
          {% if app.request.attributes.get('_route_params')['lugar']  == 'hc' %}
          <td style="text-align:center;">{{ entity.montoTotalDolar | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }}</td>
          {% endif %}
          {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
          <td style="text-align:center;">{{ entity.montoBsCierre | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }}</td>
          {% if entity.proveedorCierre %} 
          <td style="text-align:center;">{{ entity.proveedorCierre.nbProveedor }}</td>
          {% else %}
          <td style="text-align:center;">N/A</td>
          {% endif %}
          {% endif %}
          <td style="text-align:center;">
          {% set viewPath = path(('ventas_cierres_' ~ (app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'proveedores' : 'hc') ~ '_show'), { 'id': entity.id }) %}
          <a title="Ver" data-toggle="modal" data-target="#showClosedDealModal" data-id="{{ entity.id }}" data-path="{{ viewPath }}" style="text-decoration: none;" href='#'>
            {% image 'assets/self/images/ver.png' %}
              <img src="{{ asset_url }}" alt="Ver" />
            {% endimage %}
          </a>
          <a title="Editar" style="text-decoration: none;" href="{{ path(('ventas_cierres_' ~ (app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'proveedores' : 'hc') ~ '_edit'), { 'id': entity.id }) }}">
            {% image 'assets/self/images/editar.png' %}
              <img src="{{ asset_url }}" alt="Editar" />
            {% endimage %}
          </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Calling of the Show Closed Deal Modal -->
{% include 'lOroVentasCierreBundle:VentasCierres/ext/modals:show_closed_deal_modal.html.twig' %}


{% endblock %}

{% block javascripts %}
<script>
var _globales = {
  idEntrega: '',
  titulosNoFiltrados: {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? '[0,1,2,3,4,8]' : '[0,1,2,3,5,6]' }},
  idListado: 'listado-cierres',
  place: "{{ app.request.attributes.get('_route_params')['lugar'] }}"
};
</script>
<script src="{{ asset('bundles/lOroBundle/js/listados/listadoEntregas.js') }}"></script>

<script>

$('#showClosedDealModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var closedDealId = button.data('id');
  var viewPath = button.data('path') 
  var modal = $(this);

  $('#loading-square-closed-deals-show').show();
  $('#table-show-closed-deals').hide();
  $.ajax({
    type: "POST",
    url: viewPath,
    data: {'id': closedDealId,
           'place': _globales.place
          },
    success: function(data) {
      
      if(data != 'vacio') {

        modal.find('.modal-title').text('Cierre N° ' + data.id);

        modal.find('.modal-body #closed-deal-id').text(data.id);
        modal.find('.modal-body #closed-deal-date').text(data.date);
        modal.find('.modal-body #closed-deal-grams').text(data.closedDealGrams);
        modal.find('.modal-body #closed-deal-oz').text(data.ozValue);
        modal.find('.modal-body #closed-calc-fcurrency-total').text(data.calcFCurrencyTotal);
        modal.find('.modal-body #closed-deal-fcurrency-hc').text(data.closedDealFCurrencyHc);
        

        if(_globales.place == 'proveedores') {
          modal.find('.modal-body #closed-deal-fcurrency-daily-ref').text(data.fCurrencyDailyRef);
          modal.find('.modal-body #closed-closed-deal-bs-payed').text(data.closedDealBsPayed);
          modal.find('.modal-body #closed-supplier').text(data.supplier);
        }

        $('#table-show-closed-deals').delay( 800 ).show(0);
        $('#loading-square-closed-deals-show').delay( 800 ).hide(0);
      }
    }
  });  

  
});
</script>
{% endblock %}