{% extends '::gen_base.html.twig' %}
{% block title %}Cierres {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedores' : 'Aupanas / HC'}}{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    #proveedores-form .form-control-feedback {
    right: 14px;
    top: 22px;
  }

  i[data-fv-icon-for="loro_entitybundle_ventascierres[tipoMonedaCierre]"],
  i[data-fv-icon-for="loro_entitybundle_ventascierres[proveedorCierre]"] {
    right: 44px !important;
  }

  #ui-datepicker-div {
    z-index: 100 !important;
  }
  </style>
{% endblock stylesheets %}

{% block body -%}

<!-- LLamado del twig con los flash del sistema -->
{% include '::VariosSistema/mensajes_flash.html.twig' %}

  <div class="page-header">
    <h1>Cierres - {{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'Proveedores' : 'Aupanas / HC'}} <small>Registrar</small></h1>
  </div>
  <div class="clearfix"></div>



<div class="row">

<div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">

  {{ form_start(form) }}
    
    <div class="form-group">
      <div class="col-xs-9 col-md-9">
      {{ form_label(form.feVenta) }}
      {{ form_widget(form.feVenta) }}
      {{ form_errors(form.feVenta) }}
      </div>
    </div>

    {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
      <div class="form-group">
        <div class="col-xs-9 col-md-9">
        {{ form_label(form.dolarReferenciaDia) }}
        {{ form_widget(form.dolarReferenciaDia) }}
        {{ form_errors(form.dolarReferenciaDia) }}
        </div>
      </div>
    {% endif %}
    
    <div class="form-group">
      <div class="col-xs-9">
      {{ form_label(form.tipoMonedaCierre) }}
      {{ form_widget(form.tipoMonedaCierre) }}
      {{ form_errors(form.tipoMonedaCierre) }}
      </div>
            
    
      <div class="col-xs-9 col-md-9">
      {{ form_label(form.cantidadTotalVenta) }}
      {{ form_widget(form.cantidadTotalVenta) }}
      {{ form_errors(form.cantidadTotalVenta) }} 
      </div>

      <div class="col-xs-9 col-md-9">
      {{ form_label(form.valorOnza) }}
      {{ form_widget(form.valorOnza) }}
      {{ form_errors(form.valorOnza) }}  
      </div>
    </div>

    {% if app.request.attributes.get('_route_params')['lugar']  == 'hc' %}
      <div class="form-group">
        <div class="col-xs-9 col-md-9">
        {{ form_label(form.montoTotalDolar) }}
        {{ form_widget(form.montoTotalDolar, { 'attr': { 'readonly': 'true' } }) }}
        {{ form_errors(form.montoTotalDolar) }}  
        </div>
      </div>
    {% endif %}

    {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
      <div class="form-group">      
        <div class="col-xs-9 col-md-9">
        {{ form_label(form.montoBsCierrePorGramo) }}
        {{ form_widget(form.montoBsCierrePorGramo) }}
        {{ form_errors(form.montoBsCierrePorGramo) }}
        </div>
      </div>
    {% endif %}

    {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
      <div class="form-group">
        <div class="col-xs-9 col-md-9">
        {{ form_label(form.proveedorCierre) }}
        {{ form_widget(form.proveedorCierre) }}
        {{ form_errors(form.proveedorCierre) }}  
        </div>
      </div>
    {% endif %}
    
    <div class="form-group">
      <div class="col-sm-offset-7 col-sm-3 col-xs-offset-5 col-xs-3 col-md-offset-8 col-md-3">
      {{ form_widget(form.submit) }}
      </div>
    </div>

     {{ form_rest(form) }}       
    {{ form_end(form) }}
</div>
</div>

<div class="clearfix"></div>

{% endblock %}
{% block javascripts %}
  <script>
  var _globales = {
    autoCompleteSupplierInputData: {
      inputName: 'venta-cierre-proveedores',
    },
    formId: 'proveedores-form',
    inputBaseName: "{{ app.request.attributes.get('_route_params')['lugar']  == 'proveedores' ? 'loro_entitybundle_ventascierres_' : 'loro_entitybundle_cierres_hc_'}}",
    arrayOptDatePic: {changeMonth: false, changeYear: false, buttonImageOnly: false, dateFormat: 'dd-mm-yy' },
    margenGanancia: {{ ganancia.tipoMargen }},
    onzaTroyGramos: {{ onzaTroyGramos.valorParametro }},
    place: '{{ app.request.attributes.get('_route_params')['lugar'] }}'
  };
  </script>

  {% javascripts  'assets/self/js/closedDeals/new_forms_misc_functions.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% if app.request.attributes.get('_route_params')['lugar']  == 'proveedores' %}
    {% javascripts  'assets/self/js/closedDeals/new_supplier_closed_deal_validation.js'  %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% else %}
    {% javascripts  'assets/self/js/closedDeals/new_hc_closed_deal_validation.js'   %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}

  <script>
  $(function(){

    if (_globales.place == 'proveedores') {
      $("#loro_entitybundle_ventascierres_proveedorCierre").combobox();
    } 

    $("#"+_globales.inputBaseName+"tipoMonedaCierre").combobox();
    
  });
  </script>
{% endblock %}