{% extends '::gen_base.html.twig' %}
{% block title %}Ventas de Divisas{% endblock %}

{% block body -%}

<!-- LLamado del twig con los flash del sistema -->
{% include '::VariosSistema/mensajes_flash.html.twig' %}

  <div class="title_left">
    <h1>Ventas de Divisas <small>Editar</small></h1>
  </div>
  <div class="clearfix"></div>





  <div class="row">
    <div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
      {{ form_start(edit_form) }}
          
          
        <div class="form-group">
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.fechaVenta) }}
          {{ form_widget(edit_form.fechaVenta) }}
          {{ form_errors(edit_form.fechaVenta) }}
          </div>
        </div>


          <div class="form-group">
            <div class="col-xs-9 col-md-9">
            {{ form_label(edit_form.comprador) }}
            {{ form_widget(edit_form.comprador) }}
            {{ form_errors(edit_form.comprador) }}
            </div>
          </div>
        
        <div class="form-group">
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.tipoMoneda) }}
          {{ form_widget(edit_form.tipoMoneda) }}
          {{ form_errors(edit_form.tipoMoneda) }}
          </div>
        </div>
                
        <div class="form-group">      
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.cotizacionReferencia) }}
          {{ form_widget(edit_form.cotizacionReferencia) }}
          {{ form_errors(edit_form.cotizacionReferencia) }} 
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.cantidadDolaresComprados) }}
          {{ form_widget(edit_form.cantidadDolaresComprados) }}
          {{ form_errors(edit_form.cantidadDolaresComprados) }}  
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.dolarReferencia) }}
          {{ form_widget(edit_form.dolarReferencia) }}
          {{ form_errors(edit_form.dolarReferencia) }}  
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-xs-9 col-md-9">
          {{ form_label(edit_form.montoVentaBolivares) }}
          {{ form_widget(edit_form.montoVentaBolivares) }}
          {{ form_errors(edit_form.montoVentaBolivares) }}  
          </div>
        </div>

        
        
        <div class="form-group">
          <div class="col-sm-offset-7 col-sm-3 col-xs-offset-6 col-xs-3 col-md-offset-8 col-md-3">
          {{ form_widget(edit_form.submit) }}
          </div>
        </div> 
          
          {{ form_rest(edit_form) }}
          
        {{ form_end(edit_form) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script>
 $(function(){
     
   var arregloOpcionesDP = {changeMonth: false,
                            changeYear: false,
                            buttonImageOnly: false,
                            dateFormat: 'dd-mm-yy' };
   $( "#loro_entitybundle_ventasdolares_fechaVenta" ).datepicker(arregloOpcionesDP,$.datepicker.regional[ "es" ]);

        
  var cantidadDolaresComprados = $('#loro_entitybundle_ventasdolares_cantidadDolaresComprados');
  var dolarReferencia = $('#loro_entitybundle_ventasdolares_dolarReferencia');
  var montoVentaBolivares = $('#loro_entitybundle_ventasdolares_montoVentaBolivares');
  
  dolarReferencia.keyup(function(){
    if(cantidadDolaresComprados.val() != '')
    {
      var resultadoFinal = (parseFloat(cantidadDolaresComprados.val()) * parseFloat(dolarReferencia.val()));
      montoVentaBolivares.val($.number(resultadoFinal,2,',','.'));
    }
  });

var montoVentaBolivares = $('#loro_entitybundle_ventasdolares_montoVentaBolivares');
 montoVentaBolivares.val($.number(montoVentaBolivares.val(),2,',','.'));
 
var dolaresComprados = $('#loro_entitybundle_ventasdolares_cantidadDolaresComprados');
 dolaresComprados.val($.number(dolaresComprados.val(),2,',','.'));
dolaresComprados.number(true,2,',','.');

var dolarReferencia = $('#loro_entitybundle_ventasdolares_dolarReferencia');
 dolarReferencia.val($.number(dolarReferencia.val(),2,',','.'));
dolarReferencia.number(true,2,',','.');

$("#form-ventas-dolares").submit(function(e) {
     
     var dolaresComprados = $('#loro_entitybundle_ventasdolares_cantidadDolaresComprados');
     var nuevoValorDolaresComprados = $.number(dolaresComprados.val(), 2,'.','' );
     dolaresComprados.number(true,2,'.','');
     dolaresComprados.val(nuevoValorDolaresComprados);
    
     var dolarReferencia = $('#loro_entitybundle_ventasdolares_dolarReferencia');
     var nuevoValorDolarReferencia = $.number(dolarReferencia.val(), 2,'.','' );
     dolarReferencia.number(true,2,'.','');
     dolarReferencia.val(nuevoValorDolarReferencia);
    
     var montoVentaBolivares = $('#loro_entitybundle_ventasdolares_montoVentaBolivares');
     var nuevoValorMontoVentaBolivares = parseFloat((nuevoValorDolaresComprados * nuevoValorDolarReferencia));
     
     montoVentaBolivares.number(true,2,'.','');
     montoVentaBolivares.val(nuevoValorMontoVentaBolivares);
     
     
});

 });
 </script>
 
<script>
     
$("#loro_entitybundle_ventasdolares_comprador").change(function(){
    var data = {
      comprador_id: $(this).val()
    };
    
    $.ajax({
        type: 'post',
        url: '{{ path("_select_empresas_x_comprador") }}',
        data: data,
        success: function(data) {
            var $empresas_selector = $('#loro_entitybundle_ventasdolares_empresa');
 
            $empresas_selector.html('<option>Seleccione una Opción</option>');
            
            var empresas = jQuery.parseJSON(data);
            
            for (var i=0, total = empresas.length; i < total; i++) {
                $empresas_selector.append('<option value="' + empresas[i].id + '">' + empresas[i].nombreEmpresa + '</option>');
            }
        }
    });  
});  

$("#loro_entitybundle_ventasdolares_comprador").combobox(); 
$("#loro_entitybundle_ventasdolares_tipoMoneda").combobox(); 
</script> 
{% endblock %}