{% extends '::gen_base.html.twig' %}
{% block title %}Ventas de Divisas{% endblock %}

{% block body -%}
<div class="title_left">
  <h1>Ventas de Divisas <small>Listado</small></h1>
</div>


  <div class="row">
    <!-- LLamado del twig con los flash del sistema -->
    {% include '::VariosSistema/mensajes_flash.html.twig' %}

    <div class="clearfix"></div>
    

    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-xs-12">
      <a href="{{ path('ventas-dolares_new') }}" style="float:right;" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>  

 
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">

      <table id="listado-cierres" class="table table-striped table-condensed dt-responsive nowrap" cellspacing="0" width="100%" >
          <thead>
              <tr>
                  <th class="hidden-md hidden-sm hidden-xs">ID</th>
                  <th>Fecha de la venta</th>
                  <th>Comprador</th>
                  <th>Moneda</th>
                  <th>Cantidad Comprada</th>
                  <th>Cambio de Referencia</th>
                  <th>Monto en Bolivares</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
          {% for entity in entities if entity.id != 9999  %}
              <tr>
                  <td class="hidden-md hidden-sm hidden-xs">{{ entity.id }}</td>
                  <td>{% if entity.fechaVenta %}{{ entity.fechaVenta|date('Y-m-d') }}{% endif %}</td>
                  <td>{{ entity.comprador.nbProveedor | title }}</td>
                  <td>{{ entity.tipoMoneda ? entity.tipoMoneda.nbMoneda : 'N/A' }}</td>
                  <td>{{ entity.cantidadDolaresComprados | number_format('2',',','.') }} {{ entity.tipoMoneda ? entity.tipoMoneda.simboloMoneda : 'N/A' }}</td>
                  <td>{{ entity.dolarReferencia | number_format('2',',','.') }} Bs x {{ entity.tipoMoneda ? entity.tipoMoneda.simboloMoneda : 'N/A' }}</td>
                  <td>{{ entity.montoVentaBolivares | number_format('2',',','.') }} Bs</td>
                  <td>
                    
                    <a title="Ver" data-toggle="modal" data-id="{{ entity.id }}" class="open-modal-ver" data-target="#modalVer" style="text-decoration: none;" href="#">
                      <i class="fa fa-eye fa-4" aria-hidden="true"></i> 
                    </a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
        
    <!-- LLamado del twig con el modal de Ver Venta Divisa -->
    {% include 'lOroVentasDolaresBundle:VentasDolares/extensiones:modal_ver_venta_divisa.html.twig' %}
    
        </div>

</div>

    {% endblock %}
{% block javascripts %}
<script>
  var _globales = {
      idEntity: '',
      urlVerAction: '{{ path('ventas-dolares_show', { 'id': ':idEntity' }) }}',  
      urlEditAction: '{{ path("ventas-dolares_edit", { "id": ":idEntity" }) }}',
      urlEliminarAction: '{{ path('ventas-dolares_delete', { 'id': ':idEntity' }) }}', 
      titulosNoFiltrados: '[0,1,4,5,6,7,8]',
      idListado: 'listado-cierres',
      urlDatatableLang: '{{ asset('lang.txt') }}'
};
</script>

  {% javascripts  'assets/self/js/general/general_functions.js' filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}


<script>
$(document).on("click", ".open-modal-ver", function () {
      _globales.idEntity = $(this).data('id');
     $("#modalVer .id-entrega").text( _globales.idEntity );
     
     /* Reemplaza la el :idEntrega de la URL por el ID que se trae del modal */
     var url = _globales.urlVerAction;
     url = url.replace(':idEntity',_globales.idEntity);


     var urlEdit = _globales.urlEditAction;
     urlEdit = urlEdit.replace(':idEntity',_globales.idEntity);
      
      $.ajax({
        type: 'get',
        url: url,
        id: _globales.idEntity,
        success: function(entity) {
           
         var depositosPorCuenta = entity.depositosPorCuenta;
           
        
         var htmlVer = '<tr><td style="text-align: center;">Fecha de la Venta</td>';
             htmlVer += '<td style="text-align:center;">'+entity.fechaVenta+'</td>';
             htmlVer += '</tr><tr><td style="text-align: center;">Comprador</td>';
             htmlVer += '<td style="text-align:center;">'+entity.comprador+'</td>';
             htmlVer += '</tr><tr><td style="text-align: center;">Divisas Vendidas</td>';
             htmlVer += '<td style="text-align:center;">'+entity.tipoMoneda+'</td>';
             htmlVer += '</tr><tr><td style="text-align: center;">Monto Vendido</td>';
             htmlVer += '<td style="text-align:center;">'+entity.cantidadDolaresComprados+' '+entity.simboloMoneda+'</td>';
             htmlVer += '</tr><tr><td style="text-align: center;">Divisa Referencia</td>';
             htmlVer += '<td style="text-align:center;">'+entity.dolarReferencia+' Bs / '+entity.simboloMoneda+'</td>';
             htmlVer += '</tr><tr><td style="text-align: center;">Monto en Bolivares</td>';
             htmlVer += '<td style="text-align:center;">'+entity.montoVentaBolivares+' Bs</td>';
             htmlVer += '</tr><tr><td colspan=2 style="text-align: center;">Enviado a las Cuentas</td></tr>';
             htmlVer += '<tr><td colspan=2><table width="100%" class="table-hover">';
             htmlVer += '<tr>';
             htmlVer += '<td style="text-align:center;">Cuenta</td>';
             htmlVer += '<td style="text-align:center;">Total Depositado</td>';
             htmlVer += '</tr>';
             for(var row in depositosPorCuenta) {
               htmlVer += '<tr>';
               htmlVer += '<td style="text-align:center;">'+depositosPorCuenta[row].cuenta+'</td>';
               htmlVer += '<td style="text-align:center;">'+depositosPorCuenta[row].cantidadDepositada+' Bs.</td>';
               htmlVer += '</tr>';
             }
             htmlVer += '</table></td></tr>';
            
          
          var htmlButtonEliminar = '<a  title="Editar" class="btn btn-lg btn-primary" href="'+urlEdit+'">Editar</a>';
              htmlButtonEliminar += '<button class="btn btn-lg btn-danger" onclick="eliminarVentaSeleccionada(\''+entity.id+'\')">Eliminar</button>';
              
          

          $('.modal-footer').html(htmlButtonEliminar);
          $('.data-ver-entity').html(htmlVer);
        }
      });
});     

function eliminarVentaSeleccionada(idVenta) {
  /* Reemplaza la el :idEntrega de la URL por el ID que se trae del modal */
  var url = _globales.urlEliminarAction;
  url = url.replace(':idEntity',idVenta);
  
  $.ajax({
        type: 'get',
        url: url,
        id: idVenta,
        success: function(entity) {
         window.location.href = '{{ path('ventas-dolares') }}';
      }});  
}
</script>
{% endblock %}