{% extends '::base.html.twig' %}

{% block title %}Debitos{% endblock %}

{% block body -%}
    {% include "lOroTransferenciasBundle:Debitos:base_deb.html.twig" %}


    


  
  
  <div class="col-md-offset-1 col-md-10" style="padding:0 0 3em 0; margin-left: -5px;">
    <a  href="{{ path('debitos_new') }}"  style="float:right;" class="btn btn-lg btn-success">Agregar Nuevo Debito</a>
  </div>
  


  <!-- Select y Text Input para el Buscador -->
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-9">
    <table id="listado-cierres" class="display" >
        <thead>
            <tr>
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Fecha</th>
                <th style="text-align:center;">Monto del Debito</th>
                <th style="text-align:center;">Pagado en</th>
                <th style="text-align:center;">Descripción del Debito</th>   
                <th style="text-align:center;">Acciones</th>  
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td width="160">{% if entity.feDebito %}{{ entity.feDebito | date('Y-m-d') }}{% endif %}</td>
                <td width="170">{{ entity.monto | number_format('2',',','.')}}  {{ entity.tipoPago == 'B' ? 'Bs.' : '$' }}</td>
                <td>{{ entity.tipoPago == 'B' ? 'Bolivares' : 'Verdes' }}</td>
                <td>{{ entity.descripcion }}</td>     
                <td>
                  <a title="Ver" style="text-decoration: none;" href="{{ path('debitos_show', { 'id': entity.id }) }}">
                    {% image 'assets/self/images/ver.png' %}
                      <img src="{{ asset_url }}" alt="Ver" />
                    {% endimage %}
                  </a>
                  <a title="Editar" style="text-decoration: none;" href="{{ path('debitos_edit', { 'id': entity.id }) }}">
                    {% image 'assets/self/images/editar.png' %}
                      <img src="{{ asset_url }}" alt="Editar" />
                    {% endimage %}
                  </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
 

{% endblock %}
  {% block javascripts %}
<script>
  var _globales = {
      titulosNoFiltrados: '[0,1,2,4,5]',
      idListado: 'listado-cierres',
      urlDatatableLang: '{{ asset('lang.txt') }}'
};
</script>

  {% javascripts  'assets/self/js/general/general_functions.js' filter='?uglifyjs2' output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
