{% extends '::base.html.twig' %}

{% block title %}Pagos Proveedores{% endblock %}

{% block body -%}
<div class="page-header">
  <h1>Pago de Proveedor<small>Editar</small>
  </h1>
</div>
<div class="col-md-11 contenedor-formularios">
    {{ form_start(edit_form) }}
    
    {{ form_label(edit_form.fePago) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.fePago) }}
    </div>
    {{ form_errors(edit_form.fePago) }}
        
    {{ form_label(edit_form.tipoTransaccion) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.tipoTransaccion) }}
    </div>
    {{ form_errors(edit_form.tipoTransaccion) }}

    {{ form_label(edit_form.tipoPago) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.tipoPago) }}
    </div>
    {{ form_errors(edit_form.tipoPago) }}     

    <div class="campos-ocultos">   
    {{ form_label(edit_form.banco) }}
    <div class="input-group input-group-lg">
      <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.banco) }}
    </div>
    {{ form_errors(edit_form.banco) }}
    </div>
    
    {{ form_label(edit_form.nroReferencia) }}
    <div class="input-group input-group-lg">
      <span class="input-group-addon">N°</span>
      {{ form_widget(edit_form.nroReferencia) }}
    </div>
    {{ form_errors(edit_form.nroReferencia) }}        
    
    {{ form_label(edit_form.empresaCasa) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.empresaCasa) }}
    </div>
    {{ form_errors(edit_form.empresaCasa) }}
    
    {{ form_label(edit_form.montoPagado) }}
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Bs.</span>
      {{ form_widget(edit_form.montoPagado) }}
    </div>
    {{ form_errors(edit_form.montoPagado) }}
    
    {{ form_label(edit_form.proveedor) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.proveedor) }}
    </div>
    {{ form_errors(edit_form.proveedor) }}
    
    <div id="inputEmpresasPago">
    {{ form_label(edit_form.empresaPago) }}
    <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;&nbsp;</span>
      {{ form_widget(edit_form.empresaPago) }}
    </div>
    {{ form_errors(edit_form.empresaPago) }}
    </div>
    <div id="alertaProveedor"  style="margin-top:15px;" class="alert alert-danger mensajes-info">
        El proveedor seleccionado no posee ninguna empresa asociada, por favor registre una <a href="{{ path('empresas-proveedores_new') }}">Aquí</a>
    </div>

  <div style='margin-top:12px;'>
    {{ form_widget(edit_form.submit) }}
    <a style="margin-left: 15px;" class="btn btn-lg btn-info" href="{{ path('pagos_proveedores') }}">Volver</a>  
  </div>

    {{ form_end(edit_form)}}
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function(){
            
   var arregloOpcionesDP = {changeMonth: false,
                            changeYear: false,
                            buttonImageOnly: false,
                            dateFormat: 'dd-mm-yy' };
   $( "#loro_entitybundle_pagos_proveedores_fePago" ).datepicker(arregloOpcionesDP,$.datepicker.regional[ "es" ]);
       

  var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
  montoPagado.val($.number(montoPagado.val(),2,',','.'));
  montoPagado.number(true,2,',','.');        
    
          var proveedor = $('#loro_entitybundle_pagos_proveedores_proveedor');
          var empresasProveedor = $('#loro_entitybundle_pagos_proveedores_empresaPago');
          var urlBuscarEmpresasPorProveedor = "{{ path('_buscar_empresas_por_proveedor') }}";
          
          
         
          $('#alertaProveedor').hide();
          
          proveedor.change(function(){
                $.post(urlBuscarEmpresasPorProveedor,
                {
                  idProveedor: proveedor.val()
                },function(data)
                  {
                    if(data != 'vacio')
                    {
                      var empresas = jQuery.parseJSON(data);
                      $('#alertaProveedor').hide();
                      $('#inputEmpresasPago').show();
                      
                      var html = '<option value="">Seleccione una Opción</option>';
                      
                      for(var row in empresas)
                      {
                        console.log(empresas[row]);
                        html += '<option value="'+empresas[row].id+'">'+empresas[row].nbEmpresa+'</option>'; 
                      }
                      empresasProveedor.html(html);    
                    } else
                      {
                        $('#inputEmpresasPago').hide();
                        $('#alertaProveedor').show();
                      }
                });
          });
        });
        
$("#form-pago-proveedores").submit(function(e) {
     
     var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
     var nuevoValorMontoPagado = $.number(montoPagado.val(), 2,'.','' );
     montoPagado.number(true,2,'.','');
     montoPagado.val(nuevoValorMontoPagado);

});        
    </script>
{% endblock %}

