{% extends '::base.html.twig' %}
{% block title %}Pago a Proveedores{% endblock %}

{% block body -%}
<div class="page-header">
  <h1>Pagos a Proveedores <small>Listado</small></h1>
</div>


<!-- LLamado del twig con los flash del sistema -->
{% include '::VariosSistema/mensajes_flash.html.twig' %}


  
  <div class="col-md-offset-1 col-md-9">
    <div class="col-md-11" id="divSumatoria">
        <span  class="bubble you" style="float:right; display:none;">Sumatoria de los Seleccionados: <span id="montoSumatoria"></span> Bs.</span>
    </div>
    <div class="col-md-1" style="padding:0 0 3em 0; margin-left: -5px;">
      <a href="{{ path('nueva_carga_masiva') }}" style="float:right;" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
    </div>
  </div>
  

    <div class="col-md-offset-1 col-md-9">
    <table id="listado-cierres" class="display">
      <thead>
            <tr>
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Fecha</th>
                <th style="text-align:center;">Tipo de Transacción</th>
                <th style="text-align:center;">Pagado en</th>
                <th style="text-align:center;">Monto del Pago</th>
                <th style="text-align:center;">Proveedor</th>
                <th style="text-align:center;">Empresa</th>
                <th style="text-align:center;">Acciones</th>
                <th style="text-align:center;">Sumar</th>
            </tr>
      </thead>
        <tbody class="data-tabla">
        {% for entity in entities if entity.id != 9999 %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.fePago %}{{ entity.fePago | date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.nbTransaccion }}</td>
                <td>{{ entity.tipoPago }}</td>
                <td>{{ entity.montoPagado | number_format('2',',','.')}}  {% if entity.tipoPago == 'Bolivares' %}Bs.{% elseif entity.tipoPago == 'Dolares' %}${% else %}€{% endif%}</td>
                <td>{{ entity.nbProveedor }}</td>
                <td>{{ entity.nombreEmpresa }}</td>                
                <td>
                  <a title="Ver" style="text-decoration: none;" href="{{ path('pagos_proveedores_show', { 'id': entity.id }) }}">
                    {% image 'assets/self/images/ver.png' %}
                      <img src="{{ asset_url }}" alt="Ver" />
                    {% endimage %}
                  </a>
                  <a title="Editar" style="text-decoration: none;" href="{{ path('pagos_proveedores_edit', { 'id': entity.id }) }}">
                    {% image 'assets/self/images/editar.png' %}
                      <img src="{{ asset_url }}" alt="Editar" />
                    {% endimage %}
                  </a>
                </td>
                <td>
                 <input type="checkbox" name="rows[]" id="pago_proveedor_{{ entity.id }}" onclick="sumarMontos('{{ entity.montoPagado }}','{{ entity.id }}')" value="{{ entity.montoPagado }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>


{% endblock %}
{% block javascripts %}
<script>
var _globales = {
      titulosNoFiltrados: '[0,1,2,4,7,8]',
      idListado: 'listado-cierres',
      urlDatatableLang: '{{ asset('lang.txt') }}',
      montoSumatoria: 0.00
};



$(document).ready( function () {

    
    var table = $('#'+_globales.idListado).DataTable(
    {
      responsive: true,
      "order": [[ 1, "desc" ]],
      "oLanguage": {
        "sUrl": _globales.urlDatatableLang
      } , 
   
        initComplete: function () {
            var api = this.api();
            
     
            
            api.columns().indexes().flatten().each( function ( i ) {
                
                if(_globales.titulosNoFiltrados.indexOf(i) === -1) {

               
                
                var column = api.column( i );
                var select = $('<select class="form-control"><option value="">'+$(column.header()).html()+'</option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
                
          }
                  
          });
        }
     }
   );
});


function sumarMontos(montoPagado,idPagoProveedor) {
  
  if ($('#pago_proveedor_'+idPagoProveedor).is(':checked')) {
   
  
   _globales.montoSumatoria = _globales.montoSumatoria + parseFloat(montoPagado);
   
   } else {
     _globales.montoSumatoria = _globales.montoSumatoria - parseFloat(montoPagado);
   }
   
   if(_globales.montoSumatoria > 0) {
      $('#divSumatoria > span').show();
      $('#divAgregarNuevoPago').removeClass('col-md-11');
      $('#divAgregarNuevoPago').addClass('col-md-2');      
   } else {
      $('#divSumatoria > span').hide();
      
      $('#divAgregarNuevoPago').removeClass('col-md-2');
      $('#divAgregarNuevoPago').addClass('col-md-11');
   }
   
   $('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
}

$('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
</script>
<script src="{{ asset('bundles/lOroBundle/js/listados/listadoPagosProveedores.js') }}"></script>    
{% endblock %}
