{% extends '::gen_base.html.twig' %}

{% block title %}Pagos Proveedores{% endblock %}

{% block body -%}
<div class="title_left">
  <h1>Pagos a Proveedores <small>Registrar</small></h1>
</div>

<div class="clearfix"></div>


<div class="row">
    
  <!-- LLamado del twig con los flash del sistema -->
  {% include '::VariosSistema/mensajes_flash.html.twig' %}
  
  <div class="clearfix"></div>  
    <!--div class="col-lg-6 panel-group panel-success">
      <div class="panel panel-success">
       <div class="panel-heading">
         <h4 class="panel-title">
           {#% if pdf %}
             {% for pos,text in pdf %}
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ pos }}">
                            {{ nbArchivo }} - Pagina # {{ (pos + 1) }}
                        </a>
                        {% endfor %}
                      {% else %}
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse">
                            Archivo PDF - Pagina #
                        </a>
                      {% endif %}
                    </h4>
                </div>
      {% if pdf %}
        {% for pos,text in pdf %}
             <div id="collapse{{ pos }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <pre>
                            {{ text }}
                        </pre>
                    </div>
                </div>
            
        {% endfor %}
      {% else %}
<div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <pre>
                            Seleccione un archivo PDF para mostrar
                        </pre>
                    </div>
                </div>          
      {% endif %#}
      </div>
    </div-->
    
<div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
            <!--div>
            {#{ form_start(formUpload) }}
            
        				 <!--div class="input-group input-group-lg">
        					<input type="file" class="form-control" id="inputFile" name="inputFile" placeholder="File">
        				</div-->
         
                                       
        <div class="col-lg-11 col-lg-offset-1">    
        <div class="col-lg-7" style="margin-left:20px;">
              {{ form_widget(formUpload.inputFile) }}
            {{ form_errors(formUpload.inputFile) }}
        </div>

        <div class="col-lg-2">
            {{ form_widget(formUpload.submit) }}
        </div>

            {{ form_end(formUpload)}#}
        </div-->


            
  {{ form_start(form) }}
  
  <div class="form-group">
    <div class="col-xs-9 col-md-9">             
      {{ form_label(form.fePago) }}
      {{ form_widget(form.fePago) }}
      {{ form_errors(form.fePago) }}
    </div>
  </div>

            <div class="form-group">
              <div class="col-xs-9 col-md-9">                 
                {{ form_label(form.tipoTransaccion) }}
                {{ form_widget(form.tipoTransaccion) }}
                {{ form_errors(form.tipoTransaccion) }}
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9 col-md-9"> 
                {{ form_label(form.tipoPago) }}
                {{ form_widget(form.tipoPago) }}
                {{ form_errors(form.tipoPago) }}     
              </div>
            </div>

            <div class="campos-ocultos" style="display:none;">  
              <div class="form-group">
                <div class="col-xs-9 col-md-9"> 
                  {{ form_label(form.banco) }}
                  {{ form_widget(form.banco) }}
                  {{ form_errors(form.banco) }}
                </div>
              </div>
            </div>

            <div class="campos-ocultos" style="display:none;">  
              <div class="form-group">
                <div class="col-xs-9 col-md-9">  
                  {{ form_label(form.nroReferencia) }}
                  {{ form_widget(form.nroReferencia) }}
                  {{ form_errors(form.nroReferencia) }}
                </div>
              </div>
            </div>
                
            <div class="form-group">
              <div class="col-xs-9 col-md-9">      
                {{ form_label(form.empresaCasa) }}
                {{ form_widget(form.empresaCasa) }}
                {{ form_errors(form.empresaCasa) }}
              </div>
            </div>

           

            <div class="form-group">
              <div class="col-xs-9 col-md-9">
                {{ form_label(form.proveedor) }}
                {{ form_widget(form.proveedor) }}
                {{ form_errors(form.proveedor) }}
              </div>
            </div>

            <div id="inputEmpresasPago" style="display:none;">
              <div class="form-group">
                <div class="col-xs-9 col-md-9">
                  {{ form_label(form.empresaPago) }}
                  {{ form_widget(form.empresaPago) }}
                  {{ form_errors(form.empresaPago) }}
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-xs-9 col-md-9">    
                {{ form_label(form.montoPagado) }}
                {{ form_widget(form.montoPagado) }}
                {{ form_errors(form.montoPagado) }}
              </div>
            </div>
  </div>

  <div class="clearfix"></div>
  <br />             
  <div class="form-group">
    <div class="col-sm-offset-7 col-sm-3 col-xs-offset-5 col-xs-3 col-md-offset-8 col-md-4">
      {{ form_widget(form.submit) }}
    </div>
  </div>

  {{ form_rest(form) }}       
  {{ form_end(form) }}
</div>



</div>
{% endblock %}
{% block javascripts %}
<script>
  var _globales = {
    urlVerificarNroReferencia: '{{ path('_ajax_verificar_nro_referencia') }}'
  };
  
  
 
  $( "#loro_entitybundle_pagos_proveedores_empresaPago" ).combobox();
  </script>
    
    <script>

        
        $(function(){

          
      var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
  montoPagado.val($.number(montoPagado.val(),2,',','.'));
  montoPagado.number(true,2,',','.');    
  
  
            
   $('.campos-ocultos').hide(); 
  
  var campoTipoTransaccion = $('#loro_entitybundle_pagos_proveedores_tipoTransaccion');
  
  if(campoTipoTransaccion.val() == 1 || campoTipoTransaccion.val() == 2){
      $('.campos-ocultos').show(); 
  } else { 
      $('#loro_entitybundle_pagos_proveedores_nroReferencia').val(' ');
      $('.campos-ocultos').hide();
  }  
    
  campoTipoTransaccion.change(function(){
    if(campoTipoTransaccion.val() == 1 || campoTipoTransaccion.val() == 2){
      $('.campos-ocultos').show(); 
    } else { 
      $('#loro_entitybundle_pagos_proveedores_nroReferencia').val(' ');
      $('.campos-ocultos').hide();
    }  
  });
  
   $('#alertaPagoProveedorCargada').hide(); 
   
  $('#loro_entitybundle_pagos_proveedores_nroReferencia').on("keyup",function(){
     $.post(_globales.urlVerificarNroReferencia,
     {
       nroReferencia: $(this).val()
     },function(encontrado)
       {
         if(encontrado == 'si') {
           $('#loro_entitybundle_pagos_proveedores_submit').attr('disabled','disabled');
           $('#alertaPagoProveedorCargada').show();
         } else {
            $('#loro_entitybundle_pagos_proveedores_submit').prop("disabled", false);
            $('#alertaPagoProveedorCargada').hide();  
           }
       }
     );
  });
  
            
   var arregloOpcionesDP = {changeMonth: false,
                            changeYear: false,
                            buttonImageOnly: false,
                            dateFormat: 'dd-mm-yy' };
   $( "#loro_entitybundle_pagos_proveedores_fePago" ).datepicker(arregloOpcionesDP,$.datepicker.regional[ "es" ]);

   var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
   montoPagado.number(true,2,',','.');
  
          var proveedor = $('#loro_entitybundle_pagos_proveedores_proveedor');
          var empresasProveedor = $('#loro_entitybundle_pagos_proveedores_empresaPago');
          var urlBuscarEmpresasPorProveedor = "{{ path('_buscar_empresas_por_proveedor') }}";
          var urlAgregarEmpresaPorProveedor = "{{ path('_agregar_empresa_por_proveedor') }}";
          
          
          
          $('#alertaProveedor').hide();
          
          if(proveedor.val() != '')
          {
            $('#inputEmpresasPago').show();  
            
  $.post(urlBuscarEmpresasPorProveedor,
                {
                  idProveedor: proveedor.val()
                },function(data)
                  {
                    if(data != 'vacio')
                    {
                      var empresas = jQuery.parseJSON(data);
                      $('#alertaProveedor').hide();
                      $('#inputEmpresasPago').show();
                      
                      var html = '<option value="">Seleccione una Opción</option>';
                      
                      for(var row in empresas)
                      {
                        html += '<option value="'+empresas[row].id+'">'+empresas[row].nbEmpresa+'</option>'; 
                      }
                      
                        
                      
                      empresasProveedor.html(html);    
                    } else
                      {
                      
                      var html = '<option value="">Seleccione una Opción</option>';
                      
                          
                      
                        empresasProveedor.html(html);  
                      }
                });
                
          } else {
            $('#inputEmpresasPago').hide();  
          }
          
          proveedor.change(function(){

              
                $.post(urlBuscarEmpresasPorProveedor,
                {
                  idProveedor: proveedor.val()
                },function(data)
                  {
                    if(data != 'vacio')
                    {
                      var empresas = jQuery.parseJSON(data);
                      $('#alertaProveedor').hide();
                      $('#inputEmpresasPago').show();
                      
                      var html = '<option value="">Seleccione una Opción</option>';
                      
                      for(var row in empresas)
                      {
                        html += '<option value="'+empresas[row].id+'">'+empresas[row].nbEmpresa+'</option>'; 
                      }
                      
                       
                      
                      empresasProveedor.html(html);    
                    } else
                      {
                      
                      var html = '<option value="">Seleccione una Opción</option>';
                      
                         
                      
                        empresasProveedor.html(html);  
                      }


                      var select = $('#loro_entitybundle_pagos_proveedores_empresaPago');; 
                      select.combobox('refresh');  
                      select.combobox('clearElement');  
                      select.combobox('clearTarget');
                });
          });
          
          
         
         $('.auto-complete-empresas').on('keydown',function(){
           if(empresasProveedor.val() == 9999) {
             $('#proveedor-id').val(proveedor.val());
             $('#modalAgregarEmpresa').modal('show');
           }           
         });
         
        $('.auto-complete-empresas').on('keyup',function(){
           if(empresasProveedor.val() == 9999) {
             $('#proveedor-id').val(proveedor.val());
             $('#modalAgregarEmpresa').modal('show');
           }           
         });         


   
             
              
              $("#loro_entitybundle_pagos_proveedores_submit").click(function(e) {
     
     var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
     
     var nuevoValorMontoPagado = $.number(montoPagado.val(), 2,'.','' );
     montoPagado.number(true,2,'.','');
     montoPagado.val(nuevoValorMontoPagado);
     
    
}); 
/*
            $("#form-pagos-proveedores").submit(function(e) {

                 var montoPagado = $('#loro_entitybundle_pagos_proveedores_montoPagado');
                 var nuevoValorMontoPagado = $.number(montoPagado.val(), 2,'.','' );
                 montoPagado.number(true,2,'.','');
                 montoPagado.val(nuevoValorMontoPagado);
            });  
     */        
        });
        
     $('#loro_entitybundle_pagos_proveedores_tipoPago').change(function(){
         if($(this).val() == 'B') {
            $('#tipo-moneda').html('Bs.'); 
         } else if($(this).val() == 'E') {
            $('#tipo-moneda').html('€'); 
         } else if($(this).val() == 'D') {
            $('#tipo-moneda').html('$'); 
         }  else {
            $('#tipo-moneda').html(''); 
         }
         
     });     
     
     
    </script>
{% endblock %}
