{% extends '::base.html.twig' %}
{% block title %}Pago a Minoristas{% endblock %}

{% block body -%}
<div class="page-header">
  <h1>Pagos a Minoristas <small>Listado</small></h1>
</div>
  {% if not pagosMinoristas %}
    <div class="row" style="margin:0px 10% 0 10%;">
      <div class="alert alert-danger">
        No se poseen pagos a minoristas registrados actualmente
      </div>
    </div>   
  {% endif %}
  
<div class="col-md-9" id="divSumatoria">
      <span  class="bubble you" style="float:right;">Sumatoria de los Seleccionados: <span id="montoSumatoria"></span> Bs.
      </span>
  </div>  
  <div class="col-md-11" id="divAgregarNuevoPago" style="padding:0 0 3em 0; margin-left: -5px;">
    <a  href="{{ path('pagos_minoristas_new') }}"  style="float:right;" class="btn btn-lg btn-success">Agregar Nuevo Pago</a>
  </div>

  {% if pagosMinoristas %}
    <!-- Select y Text Input para el Buscador -->
    <div class="col-lg-offset-1 col-lg-10">
    <table id="listado-cierres" class="display" >
        <thead>
            <tr>
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Fecha</th>
                <th style="text-align:center;">Pagado en</th>
                <th style="text-align:center;">Monto del Pago</th>
                <th style="text-align:center;">Proveedor</th>
                <th style="text-align:center;">Empresa</th>
                <!--th style="text-align:center;">Acciones</th-->
                <th style="text-align:center;">Sumar</th>
            </tr>
        </thead>
        <tbody class="data-tabla">
        {% for entity in pagosMinoristas if entity.id != 9999 %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.fePago %}{{ entity.fePago | date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.tipoPago == 'B' ? 'Bolivares' : 'Euros' }}</td>
                <td>{{ entity.montoPagado | number_format('2',',','.')}}  {{ entity.tipoPago == 'B' ? 'Bs.' : '€' }}</td>
                <td>{{ entity.empresaPago.proveedor.nbProveedor }}</td>
                <td>{{ entity.empresaPago.  nombreEmpresa }}</td>                
                <!--td>
                  <a title="Ver" style="text-decoration: none;" href="{#{ path('pagos_proveedores_show', { 'id': entity.id }) }}">
                    <img src="{{ asset('bundles/lOroBundle/images/ver.png') }}" />
                  </a>
                  <a title="Editar" style="text-decoration: none;" href="{{ path('pagos_proveedores_edit', { 'id': entity.id }) }}">
                    <img src="{{ asset('bundles/lOroBundle/images/editar.png') }#}" />
                  </a>
                </td-->
                <td>
                 <input type="checkbox" name="rows[]" id="pago_proveedor_{{ entity.id }}" onclick="sumarMontos('{{ entity.montoPagado }}','{{ entity.id }}')" value="{{ entity.montoPagado }}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
   
    </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
<script>
var _globales = {
      titulosNoFiltrados: '[0,1,2,4,6,7,8]',
      idListado: 'listado-cierres',
      montoSumatoria: 0.00
};

$('#divSumatoria').hide();

function sumarMontos(montoPagado,idPagoProveedor) {
  
  if ($('#pago_proveedor_'+idPagoProveedor).is(':checked')) {
   
  
   _globales.montoSumatoria = _globales.montoSumatoria + parseFloat(montoPagado);
   
   } else {
     _globales.montoSumatoria = _globales.montoSumatoria - parseFloat(montoPagado);
   }
   
   if(_globales.montoSumatoria > 0) {
      $('#divSumatoria').show(); 
      $('#divAgregarNuevoPago').removeClass('col-md-11');
      $('#divAgregarNuevoPago').addClass('col-md-2');      
   } else {
      $('#divSumatoria').hide();
      
      $('#divAgregarNuevoPago').removeClass('col-md-2');
      $('#divAgregarNuevoPago').addClass('col-md-11');
   }
   
   $('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
}

$('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
</script>
<script src="{{ asset('bundles/lOroBundle/js/listados/listadoPagosProveedores.js') }}"></script>    
{% endblock %}
