{% extends '::gen_base.html.twig' %}

{% block title %}Pagos Varios{% endblock %}
{% block stylesheets %}
  <style>
  .table tr td {
    font-size: 2em;
    text-align: right;
    font-weight: bolder;
  }

  .table tr td + td {
    font-size: 2em;
    text-align: left;
    vertical-align: middle;
    font-weight: none;
  }
  </style>
{% endblock stylesheets %}
{% block body -%}
<div class="title_left">
  <h1>Pagos Varios <small>Ver</small></h1>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">

    <table class="table table-bordered">
          <colgroup>
            <col class="col-xs-offset-3">
            <col class="col-xs-9">
          </colgroup>
          <thead></thead>
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ entity.id }}</td>
            </tr>
            <tr>
              <td>Fecha del Pago</td>
              <td>{{ entity.fePago | date('d-m-Y') }}</td>
            </tr>
            <tr>
              <td>Tipo de Transacci&oacute;n</td>
              <td>{{ entity.tipoTransaccion.nbTransaccion }}</td>
            </tr>
            <tr>
              <td>Tipo de Pago</td>
              <td>{{ entity.tipoPago == 'B' ? 'Bolivares' : 'Dolares' }}</td>
            </tr>
            
            <tr>
              <td>Monto del Pago</td>
              <td>{{ entity.montoPago | number_format('2',',','.') }} {{ entity.tipoPago == 'B' ? 'Bs.' : '$' }}</td>
            </tr>            
            <tr>
              <td>Pagado Por</td>
              <td>{{ entity.empresaCasa.nombreEmpresa }}</td>
            </tr>      
            <tr>
              <td>Descripci&oacute;n del Pago</td>
              <td>{{ entity.descripcionPago }}</td>
            </tr>    
          </tbody>
          <tfooter>
            <tr>
              <td colspan="2">
                <a  href="{{ path('pagos-varios_delete', { 'id': entity.id }) }}" class="btn btn-lg btn-danger" >Eliminar</a>
                <a style="margin-left: 15px;" class="btn btn-lg btn-info text-right" href="{{ path('pagos-varios') }}">Volver</a>
              </td>
            </tr>
          </tfooter>
    </table>
  </div>
</div>




{% endblock %}
