{% extends '::base.html.twig' %}

{% block title %}Transferencias Aupanas/HC{% endblock %}

{% block stylesheets %}
        {%  stylesheets 'assets/self/css/general/radio_and_inputs_mat_design.css'
            filter='?uglifycss' filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

{% endblock %}
{% block body -%}
<div class="page-header">
  <h1>Transferencias Aupanas/HC<small>Registrar</small>
  </h1>
</div>
<div class="col-xs-12 col-md-offset-1 col-md-9">
    {{ form_start(form) }}

    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.feTransferencia) }}
        {{ form_widget(form.feTransferencia) }}
        {{ form_errors(form.feTransferencia) }}
      </div>


      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.tipoTransaccion) }}
        {{ form_widget(form.tipoTransaccion) }}
        {{ form_errors(form.tipoTransaccion) }}
      </div>

      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.estatus) }}
        {{ form_widget(form.estatus) }}
        {{ form_errors(form.estatus) }}
      </div>
    </div>
    
    <div class="col-xs-12 col-md-9 col-md-offset-1">
      <div id="nro-ref-div">
        {{ form_label(form.nroReferencia) }}
        <div class="input-group input-group-lg">
          <span class="input-group-addon">N°</span>
          {{ form_widget(form.nroReferencia) }}
          {{ form_errors(form.nroReferencia) }}
        </div>
      </div>
    </div>
        
    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.esConversion) }}
        <div>
          {% for child in form.esConversion %}
            {{ form_widget(child, { 'attr': {'class': 'option-input radio'}}) }}
            {{ form_label(child) }}
          {% endfor %}
          {{ form_errors(form.esConversion) }}
        </div>
      </div>
    </div>

    
    
    <!-- Oculto hasta que se indique que es una conversion de Dinero -->
    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">
        <div id="conversion-dinero">
          {{ form_label(form.tipoMonedaConversion) }}
            <div class="from-group">
            {{ form_widget(form.tipoMonedaConversion) }}
            </div>
          {{ form_errors(form.tipoMonedaConversion) }}
                
          {{ form_label(form.montoAConvertir) }}
            <div class="from-group">
            {{ form_widget(form.montoAConvertir) }}
            </div>
          {{ form_errors(form.montoAConvertir) }}  
                
          {{ form_label(form.cotizacionReferencia) }}
            <div class="from-group">
            {{ form_widget(form.cotizacionReferencia) }}
            </div>
          {{ form_errors(form.cotizacionReferencia) }}
        </div>
      </div>
    </div>    
        
        
    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1" style="margin-top:30px;">        
        {{ form_label(form.tipoMonedaTransf) }}
        {{ form_widget(form.tipoMonedaTransf) }}
        {{ form_errors(form.tipoMonedaTransf) }}
      </div>
    </div>

    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">          
        {{ form_label(form.montoTransferencia) }}
        {{ form_widget(form.montoTransferencia) }}
        {{ form_errors(form.montoTransferencia) }}
      </div>
    </div>

    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.beneficiario) }}
        {{ form_widget(form.beneficiario) }}
        {{ form_errors(form.beneficiario) }}
      </div>
    </div>

    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">
        {{ form_label(form.empresa) }}
        {{ form_widget(form.empresa) }}
        {{ form_errors(form.empresa) }}
      </div>
    </div>

    <div class="from-group">
      <div class="col-xs-12 col-md-9 col-md-offset-1">        
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion) }}
        {{ form_errors(form.descripcion) }}
      </div>
    </div>

    <div class="col-xs-12 col-md-9 col-md-offset-1" style='margin-top:12px;'>
      {{ form_widget(form.submit) }}
      <a style="margin-left: 15px;" class="btn btn-lg btn-info" href="{{ path('transferencias_list') }}">Volver</a>  
    </div>

    {{ form_end(form)}}
</div>

{% endblock %}
{% block javascripts %}
<script>
 $('#conversion-dinero').hide();
 $('#nro-ref-div').hide();
 
 $("input[name='loro_entitybundle_transferencias[esConversion]']").click(function(){
   var esConversion = $("input[name='loro_entitybundle_transferencias[esConversion]']:checked").val();
   alert(esConversion);
   if(esConversion == 1) {
       $('#conversion-dinero').show();
   } else {
       $('#conversion-dinero').hide();
   }
 });
 
 $('#loro_entitybundle_transferencias_tipoTransaccion').change(function(){
     if($('#loro_entitybundle_transferencias_tipoTransaccion').val() == 1 || 
        $('#loro_entitybundle_transferencias_tipoTransaccion').val() == 2) {
       $('#nro-ref-div').show();    
     } else {
       $('#nro-ref-div').hide();  
     }
     
 });
 
 $(function(){
     
   var arregloOpcionesDP = {changeMonth: false,
                            changeYear: false,
                            buttonImageOnly: false,
                            dateFormat: 'dd-mm-yy' };
   $( "#loro_entitybundle_transferencias_feTransferencia" ).datepicker(arregloOpcionesDP,$.datepicker.regional[ "es" ]);

        
  var montoTransferencia = $('#loro_entitybundle_transferencias_montoTransferencia');
  montoTransferencia.number(true,2,',','.');

$("#form-transferencias-hc").submit(function(e) {
     
     var montoTransferencia = $('#loro_entitybundle_transferencias_montoTransferencia');
     var nuevoValorMontoTransferencia = $.number(montoTransferencia.val(), 2,'.','' );
     montoTransferencia.number(true,2,'.','');
     montoTransferencia.val(nuevoValorMontoTransferencia);
     
});
  

  $('#loro_entitybundle_transferencias_beneficiario').combobox();
 });
 </script>
{% endblock %}