{% extends '::gen_base.html.twig' %}

{% block title %}Editar Cierre{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    #rsupplier-closed-deal-form .form-control-feedback {
    right: 14px;
    top: 22px;
  }

  i[data-fv-icon-for="loro_appbundle_rsuppliers_closed_deals[minorista]"],
  i[data-fv-icon-for="loro_appbundle_rsuppliers_closed_deals[tipoMonedaCierre]"] {
    right: 44px !important;
  }

  #ui-datepicker-div {
    z-index: 100 !important;
  }
  </style>
{% endblock stylesheets %}


{% block body -%}
<div class="title_left">
  <h1>Cierres de Minoristas <small>Editar</small></h1>
</div>

<div class="row">

<div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
    
      {{ form_start(form)}}
        <div class="form-group">
          <div class="col-xs-9">
            {{ form_label(form.feCierre) }}
            {{ form_widget(form.feCierre) }}
            {{ form_errors(form.feCierre) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.dolarReferenciaDia) }}
            {{ form_widget(form.dolarReferenciaDia) }}
            {{ form_errors(form.dolarReferenciaDia) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.valorOnzaReferencia) }}
            {{ form_widget(form.valorOnzaReferencia) }}
            {{ form_errors(form.valorOnzaReferencia) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-9">
              {{ form_label(form.tipoMonedaCierre) }}
              {{ form_widget(form.tipoMonedaCierre) }}
              {{ form_errors(form.tipoMonedaCierre) }}
            </div>
        </div>

        <div class="form-group">
          <div class="col-xs-9">
            {{ form_label(form.pesoBrutoCierre) }}
            {{ form_widget(form.pesoBrutoCierre) }}
            {{ form_errors(form.pesoBrutoCierre) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.ley) }}
            {{ form_widget(form.ley) }}
            {{ form_errors(form.ley) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.pesoPuroCierre) }}
            {{ form_widget(form.pesoPuroCierre) }}
            {{ form_errors(form.pesoPuroCierre) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.montoBsPorGramo) }}
            {{ form_widget(form.montoBsPorGramo) }}
            {{ form_errors(form.montoBsPorGramo) }}
          </div>

          <div class="col-xs-9">
            {{ form_label(form.totalMontoBs) }}
            {{ form_widget(form.totalMontoBs) }}
            {{ form_errors(form.totalMontoBs) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-9 col-md-9">
              {{ form_label(form.minorista) }}
              {{ form_widget(form.minorista) }}
              {{ form_errors(form.minorista) }}
          </div>
        </div>        
      
        <div class="form-group">
          <div class="col-xs-9 col-md-offset-7 col-md-3">
          {{ form_widget(form.submit) }}
          </div>
        </div>

      {{ form_rest(form)}}

      {{ form_end(form)}}
</div>

</div>

{% endblock %}
{% block javascripts %}
<script>
var _globales = {
  formId: 'rsupplier-closed-deal-form',
  formBaseName: 'loro_appbundle_rsuppliers_closed_deals_'
};

/* DatePicker */
$( '#'+_globales.formBaseName+'feCierre').datepicker({changeMonth: false,changeYear: false,buttonImageOnly: false,dateFormat: 'dd-mm-yy' },$.datepicker.regional[ "es" ]);


$(function(){
  // pesoTotalVenta.val($.number(pesoTotalVenta.val(), 2,',','.' ));
  //pesoTotalVenta.number( true, 2,',','.' );
  
  $('#'+_globales.formBaseName+'pesoBrutoCierre').val($.number($('#'+_globales.formBaseName+'pesoBrutoCierre').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'pesoBrutoCierre').number( true, 2,',','.' ).on('keyup',function(){
    $('#'+_globales.formBaseName+'pesoPuroCierre').val(parseFloat(($(this).val() * $('#'+_globales.formBaseName+'ley').val()) /parseInt(1000)));
  });
  $('#'+_globales.formBaseName+'ley').val($.number($('#'+_globales.formBaseName+'ley').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'ley').number( true, 2,',','.' ).on('keyup',function(){
    $('#'+_globales.formBaseName+'pesoPuroCierre').val(parseFloat(($(this).val() * $('#'+_globales.formBaseName+'pesoBrutoCierre').val()) /parseInt(1000)));
  }); 
  $('#'+_globales.formBaseName+'pesoPuroCierre').val($.number($('#'+_globales.formBaseName+'pesoPuroCierre').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'pesoPuroCierre').number( true, 2,',','.' );

  $('#'+_globales.formBaseName+'dolarReferenciaDia').number( true, 2,',','.' );
  
  $('#'+_globales.formBaseName+'valorOnzaReferencia').val($.number($('#'+_globales.formBaseName+'valorOnzaReferencia').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'valorOnzaReferencia').number( true, 2,',','.' );  
  
  $('#'+_globales.formBaseName+'montoBsPorGramo').val($.number($('#'+_globales.formBaseName+'montoBsPorGramo').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'montoBsPorGramo').number( true, 2,',','.' ).on('keyup',function(){
    var totalAmountPayedBs = ($(this).val() * $('#'+_globales.formBaseName+'pesoBrutoCierre').val());
    $('#'+_globales.formBaseName+'totalMontoBs').val(totalAmountPayedBs);
  });  
  
  $('#'+_globales.formBaseName+'totalMontoBs').val($.number($('#'+_globales.formBaseName+'totalMontoBs').val(), 2,',','.' ));
  $('#'+_globales.formBaseName+'totalMontoBs').number( true, 2,',','.' );


 

  $('#'+_globales.formBaseName+'minorista').combobox();
  $('#'+_globales.formBaseName+'tipoMonedaCierre').combobox();
});
</script>

  {% javascripts  'assets/self/js/retailSuppliers/closed_deals_validation.js' filter='?uglifyjs2' output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}	
{% endblock %}