{% extends '::gen_base.html.twig' %}
{% block title %}Administraci&oacute;n - Proveedores{% endblock %}

  
{% block body -%}
  <div class="title_left">
    <h1>Proveedores <small>Listado</small></h1>
  </div>
  <div class="clearfix"></div>
  
  <div class="row">
    <!-- LLamado del twig con los flash del sistema -->
    {% include '::VariosSistema/mensajes_flash.html.twig' %}

    <div class="clearfix"></div>
    
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-xs-12">
      <a href="{{ path('proveedores_new') }}" style="float:right;" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>    
              
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">

      <table id="listado-cierres" class="table table-striped table-condensed dt-responsive nowrap" cellspacing="0" width="100%" >
           <thead>
                <tr>
                    <th>ID</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>              
                    <td>{{ entity.nbProveedor }}</td>  
                    <td>
                      <a title="Ver" data-toggle="modal" data-target="#showViewModal" data-id="{{ entity.id }}" data-path="{{ path('proveedores_show', { 'id': entity.id }) }}" style="text-decoration: none;" href='#'>
                        <i class="fa fa-eye fa-4" aria-hidden="true"></i>
                      </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
      </table>
  </div>
</div>

  <!-- Calling of the Show Closed Deal Modal -->
  {% include 'lOroAdminBundle:Proveedores/ext/modals:show_proveedor_modal.html.twig' %}



{% endblock %}

{% block javascripts %}
  <script>
    var _globales = {
        titulosNoFiltrados: '[0,1,2]',
        idListado: 'listado-cierres',
        urlDatatableLang: '{{ asset('lang.txt') }}',       
        editPath: "{{ path('proveedores_edit', { 'id': 'entity_id' }) }}",
        deletePath: "{{ path('proveedores_delete', { 'id':  'entity_id' }) }}"
  };
  </script>

<script>

$('#showViewModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var entityId = button.data('id');
  var viewPath = button.data('path') 
  var modal = $(this);

  
  $('#loading-square-closed-deals-show').show();
  $('#table-show-closed-deals').hide();
  $.ajax({
    type: "POST",
    url: viewPath,
    data: {'id': entityId
          },
    success: function(data) {
      
      if(data != 'vacio') {
        var editPath = _globales.editPath;
        var newEditPath= editPath.replace('entity_id',data.id);

        var deletePath = _globales.deletePath;
        var newDeletePath = deletePath.replace('entity_id',data.id);

        

        modal.find('.modal-title').text('Proveedor N° ' + data.id);

        modal.find('.modal-body #proveedor-id').text(data.id);
        modal.find('.modal-body #proveedor-nombre').text(data.nbProveedor);
        modal.find('.modal-body #proveedor-tipo-proveedor').text(data.tipoProveedor);
        

        modal.find('.modal-footer #proveedor-edit-button').attr('href',newEditPath);
        modal.find('.modal-footer #proveedor-delete-button').attr('href',newDeletePath);

        $('#table-show-closed-deals').delay( 800 ).show(0);
        $('#loading-square-closed-deals-show').delay( 800 ).hide(0);
      }
    }
  });  

  
});
</script>


  {% javascripts  'assets/self/js/general/general_functions.js' filter='?uglifyjs2' output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %} 
{% endblock %}
