{% extends '::gen_base.html.twig' %}
{% block title %}Administraci&oacute;n - Proveedores{% endblock %}
{% block stylesheets %}
  <style type="text/css">
    #proveedores-form .form-control-feedback {
    right: 17px;
  }
  </style>

{% endblock %}
{% block body -%}
  <div class="title_left">
    <h1>Proveedores <small>Registrar</small></h1>
  </div>
  <div class="clearfix"></div>

  <!-- LLamado del twig con los flash del sistema -->
  {% include '::VariosSistema/mensajes_flash.html.twig' %}


<div class="row">
  <div class="col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
    {{ form_start(form) }}
      <div class="form-group">

        <div class="col-xs-9 col-md-9">
          {{ form_label(form.nbProveedor) }}
          {{ form_widget(form.nbProveedor) }}
          {{ form_errors(form.nbProveedor) }}
        </div>

        <div class="col-xs-9 col-md-9">
          {{ form_label(form.compraDolares) }}
          {{ form_widget(form.compraDolares) }}
          {{ form_errors(form.compraDolares) }}
        </div>

        <div class="col-xs-9 col-md-9">
          {{ form_label(form.tipoProveedor) }}
          {{ form_widget(form.tipoProveedor) }}
          {{ form_errors(form.tipoProveedor) }}
        </div>
          
        <div class="col-xs-9 col-md-9">
          {{ form_label(form.status) }}
          {{ form_widget(form.status) }}
          {{ form_errors(form.status) }}
        </div>

        
      </div>

      <div class="form-group">
        <div class="col-md-7 col-xs-offset-1 col-xs-11 col-sm-10 col-sm-offset-2">
          {{ form_widget(form.submit) }}
        </div>
      </div>
      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
{% block javascripts %}
  <script>
  var _globales = {
    formId: 'proveedores-form',
    inputBaseName: "loro_entitybundle_proveedores_",
  };

  </script>

  {% javascripts  'assets/self/js/admin/proveedores_val.js' filter='?uglifyjs2' output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
   $("#"+_globales.inputBaseName+"compraDolares").combobox();
   $("#"+_globales.inputBaseName+"tipoProveedor").combobox();
   $("#"+_globales.inputBaseName+"status").combobox();
  </script>
{% endblock %}