{% extends '::base_login.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">

    <form action="{{ path('login_check') }}" method="post" id="loginform" role="form" novalidate>
      <h1>TextilesLolo {{ app.environment == 'dev' ? '- Dev' : '' }}</h1>
    
      {% if error %}
      <div class="alert alert-danger" style="color:white; text-shadow:none;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        &nbsp; 
        {{ error.message | trans }}
      </div>
      {% endif %}  

      <div>
        <input type="text" class="form-control" name="_username" placeholder="Usuario"   value="{{ last_username }}" required="" autofocus=""/>
      </div>

      <div>
        <input type="password" class="form-control" name="_password" placeholder="Clave" required="" />    
      </div>
      <div>
        <button type="submit" id="btn-login" class="btn btn-primary submit">Ingresar</button>
      </div>
      
      <div class="clearfix"></div>

      <div class="separator">
        <br />
        <div>
          <p>©2017 Textileslolo - Orotex</p>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      
    </form>
    </section>
  </div>


</div>

{% endblock %}