{% extends('::base.html.twig') %}

{% block title %}Cierres{% endblock %}

{% block body %}
<div class="page-header">
  <h1 style="font-size: 40pt;">Cierres</h1>
</div>

{% include '::VariosSistema/mensajes_flash.html.twig' %}


{% if cierresProveedor %}

<div class="col-lg-offset-1 col-lg-10">
    <table id="listado-cierres" class="display" >
        <thead>
            <tr >
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Fecha de Cierre</th>
                <th style="text-align:center;">Peso Total</th>
                <th style="text-align:center;">Cierre realizado en</th>
                <th style="text-align:center;">Pagado por Gramo</th>
                <th style="text-align:center;">Monto Total</th>
            </tr>
        </thead>
        <tbody class="data-tabla">
        {% for entity in cierresProveedor if entity.id != 99996 %}
            <tr>
                <td style="text-align:center;">{{ entity.id }}</td>
                <td style="text-align:center;">{% if entity.feVenta %}{{ entity.feVenta|date('Y-m-d') }}{% endif %}</td>
                <td style="text-align:center;">{{ entity.cantidadTotalVenta  | number_format(2,',','.')}} Grs</td>
                <td style="text-align:center;">{{ entity.tipoMonedaCierre.nbMoneda }}</td>                
                <th style="text-align:center;">{{ entity.montoBsCierrePorGramo | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }} / Grs</th>                
                <td style="text-align:center;">{{ entity.montoBsCierre | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   {% else %}


    <div class="row alerta-busqueda" style="margin: 220px 10% 0 10%;">
      <div class="alert alert-danger">
        No se encontraron registros
      </div>
    </div>
    </div>
	{% endif %}
    
{% endblock %}



{% block javascripts %}
           
<script>
var _globales = {
      titulosNoFiltrados: '[0,1,2,3,4,5]',
      idListado: 'listado-cierres',
      urlDatatableLang: '{{ asset('lang.txt') }}'
};
</script>
<script>
$(document).ready( function () {

    
    var table = $('#'+_globales.idListado).DataTable(
    {
      responsive: true,
      "order": [[ 1, "desc" ]],
      "oLanguage": {
        "sUrl": _globales.urlDatatableLang
      } , 
   
        initComplete: function () {
            var api = this.api();
            
     
            
            api.columns().indexes().flatten().each( function ( i ) {
                
                if(_globales.titulosNoFiltrados.indexOf(i) === -1) {

               
                
                var column = api.column( i );
                var select = $('<select class="form-control"><option value="">'+$(column.header()).html()+'</option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
                
          }
                  
          });
        }
     }
   );
});
</script>  

{% endblock %}
