{% extends('::base.html.twig') %}

{% block title %}Cierres{% endblock %}

{% block body %}
<div class="page-header">
  <h1 style="font-size: 40pt;">Cierres</h1>
</div>

{% include '::VariosSistema/mensajes_flash.html.twig' %}


{% if cierresProveedor %}

<div class="col-lg-offset-1 col-lg-10">
    <table id="listado-cierres" class="display" >
        <thead>
            <tr >
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Fecha de Cierre</th>
                <th style="text-align:center;">Peso Total</th>
                <th style="text-align:center;">Cierre realizado en</th>
                <th style="text-align:center;">Pagado por Gramo</th>
                <th style="text-align:center;">Monto Total</th>
            </tr>
        </thead>
        <tbody class="data-tabla">
        {% for entity in cierresProveedor if entity.id != 99996 %}
            <tr>
                <td style="text-align:center;">{{ entity.id }}</td>
                <td style="text-align:center;">{% if entity.feVenta %}{{ entity.feVenta|date('Y-m-d') }}{% endif %}</td>
                <td style="text-align:center;">{{ entity.cantidadTotalVenta  | number_format(2,',','.')}} Grs</td>
                <td style="text-align:center;">{{ entity.tipoMonedaCierre.nbMoneda }}</td>                
                <th style="text-align:center;">{{ entity.montoBsCierrePorGramo | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }} / Grs</th>                
                <td style="text-align:center;">{{ entity.montoBsCierre | number_format(2,',','.')}} {{ entity.tipoMonedaCierre.simboloMoneda }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   {% else %}


    <div class="row alerta-busqueda" style="margin: 220px 10% 0 10%;">
      <div class="alert alert-danger">
        No se encontraron registros
      </div>
    </div>
    </div>
	{% endif %}
    
{% endblock %}



{% block javascripts %}
           
<script>
var _globales = {
      titulosNoFiltrados: '[0,1,2,3,4,5]',
      idListado: 'listado-cierres',
      urlTxtLang: "{{ asset('lang.txt') }}"
};
</script>
<script src="{{ asset('bundles/lOroBundle/js/listados/listadoEntregas.js') }}"></script>  

{% endblock %}
