{% extends('::gen_base.html.twig') %}
{% block title %}Pagos{% endblock %}

{% block body -%}
<div class="title_left">
    <h1>Pagos <small>Listado</small></h1>
</div>
<div class="clearfix"></div>

<div class="row">
    <!-- LLamado del twig con los flash del sistema -->
    {% include '::VariosSistema/mensajes_flash.html.twig' %}

    {% if entities %}
    <div class="col-lg-offset-1 col-lg-10">
        <table id="listado-cierres" class="table table-striped table-condensed dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="text-align:center;">ID</th>
                    <th style="text-align:center;">Fecha</th>
                    <th style="text-align:center;">Tipo de Transacción</th>
                    <th style="text-align:center;">Pagado en</th>
                    <th style="text-align:center;">Monto del Pago</th>
                    <th style="text-align:center;">Nro Referencia</th>
                    <th style="text-align:center;">Empresa</th>
                </tr>
            </thead>
            <tbody class="data-tabla">
            {% for entity in entities if entity.id != 9999 %}
                <tr>
                    <td style="text-align:center;">{{ entity.id }}</td>
                    <td style="text-align:center;">{% if entity.fePago %}{{ entity.fePago | date('Y-m-d') }}{% endif %}</td>
                    <td style="text-align:center;">{{ entity.nbTransaccion }}</td>
                    <td style="text-align:center;">{{ entity.tipoPago }}</td>
                    <td style="text-align:center;">{{ entity.montoPagado | number_format('2',',','.')}}  {% if entity.tipoPago == 'Bolivares' %}Bs.{% elseif entity.tipoPago == 'Dolares' %}${% else %}€{% endif%}</td>
                    <td style="text-align:center;">{{ entity.nroReferencia }}</td>
                    <td style="text-align:center;">{{ entity.nombreEmpresa }}</td>                
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script>
var _globales = {
      titulosNoFiltrados: '[0,1,4,7,8]',
      idListado: 'listado-cierres',
      montoSumatoria: 0.00,
      urlDatatableLang: '{{ asset('lang.txt') }}'
};
$('#divSumatoria').hide();

function sumarMontos(montoPagado,idPagoProveedor) {
  
  if ($('#pago_proveedor_'+idPagoProveedor).is(':checked')) {
   
  
   _globales.montoSumatoria = _globales.montoSumatoria + parseFloat(montoPagado);
   
   } else {
     _globales.montoSumatoria = _globales.montoSumatoria - parseFloat(montoPagado);
   }
   
   if(_globales.montoSumatoria > 0) {
      $('#divSumatoria').show(); 
      $('#divAgregarNuevoPago').removeClass('col-md-11');
      $('#divAgregarNuevoPago').addClass('col-md-2');      
   } else {
      $('#divSumatoria').hide();
      
      $('#divAgregarNuevoPago').removeClass('col-md-2');
      $('#divAgregarNuevoPago').addClass('col-md-11');
   }
   
   $('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
}

$('#montoSumatoria').html($.number(_globales.montoSumatoria, 2,',','.' ));
</script>
</script>
<script>
$(document).ready( function () {

    
    var table = $('#'+_globales.idListado).DataTable(
    {
      responsive: true,
      "order": [[ 1, "desc" ]],
      "oLanguage": {
        "sUrl": _globales.urlDatatableLang
      } , 
   
        initComplete: function () {
            var api = this.api();
            
     
            
            api.columns().indexes().flatten().each( function ( i ) {
                
                if(_globales.titulosNoFiltrados.indexOf(i) === -1) {

               
                
                var column = api.column( i );
                var select = $('<select class="form-control"><option value="">'+$(column.header()).html()+'</option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
                
          }
                  
          });
        }
     }
   );
});
</script> 
{% endblock %}