{#% extends '::base.html.twig' %}
{% block title %}Entregas{% endblock %}
{% block body -%}
<div class="page-header">
  <h1>Entregas
      <small>Editar</small>
  </h1>
</div>
<div class="col-md-11">
  {{ form_start(form_edit) }}

    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
      {{ form_label(form_edit.feEntrega) }}
      {{ form_widget(form_edit.feEntrega) }}
      {{ form_errors(form_edit.feEntrega) }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        {{ form_label(form_edit.pesoBrutoEntrega) }}
        {{ form_widget(form_edit.pesoBrutoEntrega) }}
        {{ form_errors(form_edit.pesoBrutoEntrega) }}          
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        {{ form_label(form_edit.ley) }}
        {{ form_widget(form_edit.ley) }}
        {{ form_errors(form_edit.ley) }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        {{ form_label(form_edit.pesoPuroEntrega) }}
        {{ form_widget(form_edit.pesoPuroEntrega) }}
        {{ form_errors(form_edit.pesoPuroEntrega) }}        
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        {{ form_label(form_edit.minorista) }}
        {{ form_widget(form_edit.minorista) }}
        {{ form_errors(form_edit.minorista) }}  
      </div>
    </div>        

    <div class="form-group">
      <div class="col-xs-4 col-md-offset-8 col-md-3">
        {{ form_widget(form_edit.submit) }}
      </div>
    </div>
    
  {{ form_end(form_edit) }} 
</div>     
{% endblock %}
{% block javascripts %}
<script>
  var _globales = { feEntrega: $( "#loro_entitybundle_entregas_minoristas_feEntrega" ),
                    arregloOpcionesDP: { changeMonth: false,
                                         changeYear: false,
                                         buttonImageOnly: false,
                                         dateFormat: 'dd-mm-yy' },
                    pesoBrutoEntrega: $('#loro_entitybundle_entregas_minoristas_pesoBrutoEntrega'),
                    ley: $('#loro_entitybundle_entregas_minoristas_ley'),
                    pesoPuroEntrega: $('#loro_entitybundle_entregas_minoristas_pesoPuroEntrega'),
                    formId: 'entregas-form',
                    formBaseName: 'loro_entitybundle_entregas_minoristas_'
  };

  
  _globales.pesoBrutoEntrega.val($.number(_globales.pesoBrutoEntrega.val(), 2,',','.' ));
  _globales.pesoBrutoEntrega.number( true, 2,',','.' );
  
  _globales.ley.val($.number(_globales.ley.val(), 2,',','.' ));
  _globales.ley.number( true, 2,',','.' );
  
  _globales.pesoPuroEntrega.val($.number(_globales.pesoPuroEntrega.val(), 2,',','.' ));
  _globales.pesoPuroEntrega.number( true, 2,',','.' );
  
  
  _globales.ley.number( true, 2,',','.' );
  _globales.pesoBrutoEntrega.number( true, 2,',','.' );
  
  _globales.ley.keyup(function(){
    var pesoBrutoXLey = _globales.pesoBrutoEntrega.val() * _globales.ley.val();
    
    var resultadoPesoPuro = parseFloat(pesoBrutoXLey /parseInt(1000));
      
    _globales.pesoPuroEntrega.val($.number(resultadoPesoPuro, 2,',','.' ));     
  });  
  
  _globales.pesoBrutoEntrega.keyup(function(){
    var pesoBrutoXLey = _globales.pesoBrutoEntrega.val() * _globales.ley.val();
    
    var resultadoPesoPuro = parseFloat(pesoBrutoXLey /parseInt(1000));
      
    _globales.pesoPuroEntrega.val($.number(resultadoPesoPuro, 2,',','.' ));     
  });  


  _globales.feEntrega.datepicker(_globales.arregloOpcionesDP,$.datepicker.regional[ "es" ]);
</script>

  {% javascripts  'assets/self/js/retailSuppliers/deliveries_validation.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
    $("#"+_globales.formBaseName+"minorista").combobox();
  </script>
{% endblock %#}
